*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
}

.box {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    height: 80vh;
    flex: 0.1;
    position: relative;
    transition: flex 0.5s ease-in;
    color: #ffff;
    cursor: pointer;
    margin: 10px;
    
    
    
}
.box.active{
flex: 0.4;
}
.box.active h3{
    opacity: 1;
}

.box h3{
    position: absolute;
    bottom: 30px;
    left:20px;
    opacity: 0;
}

.container{
    display: flex;
    width: 90vw;
}